lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime*


pids
logs
results
config
test.txt
core
config.json


npm-debug.log
.c9/
fetch/
xmlrpc/
csv/
optimist/
emailjs/
simplesets/
backup/

vala/magento-heritage-scripts
vala/*.c
vala/src/dependencies
node_modules

fetch
npm-debug.log
