[submodule "nodejs/node_modules/heritage"]
	path = nodejs/node_modules/heritage
	url = git://github.com/JumpLink/node-heritage.git
[submodule "nodejs/node_modules/magento"]
	path = nodejs/node_modules/magento
	url = git://github.com/JumpLink/node-magento.git
[submodule "nodejs/node_modules/json-fs"]
	path = nodejs/node_modules/json-fs
	url = git@github.com:JumpLink/node-json-fs.git